body{
    position: relative;
}
#left-side,
#right-side{
    width: 50%;
    position: absolute;
    height: 100vh;
}
#left-side{
    background-color:#FFB400;
    left: 0;
}
#right-side{
    background-color:#116D00;
    right: 0;
}

#leftBtn, 
#rightBtn{
    width: 5vw;
    height: 100%;
    border: none;
    box-shadow: none;
    background-color: inherit;
    background-size: 13px;
    background-position-y: center;
    background-repeat: no-repeat; 
    cursor: pointer;
}
#leftBtn:focus,
#rightBtn:focus,
#leftBtn:active,
#rightBtn:active{
    outline: none;
}
#leftBtn{
    float: right;
    background-image: url(../img/icons/arrow-left-white.svg);
    background-position-x: left;
    
} 
#rightBtn{
    float: left;
    background-image: url(../img/icons/arrow-right-white.svg);
    background-position-x: right;
}