*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 21px;
    margin: 0;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none; background-color: #FFF;}
:focus {outline:none;}
a{
    cursor: pointer;
}


.header{
    position: relative;
    color: #FFF;
}
.header__nav{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 50px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
}
.header__nav span{
    font-size: 33px;
    font-weight: 900;
    color: #FFF;
    position: absolute;
    margin-left: -22px;
    left: 50%;
}
.header__nav-imgbox{
    display: flex;
    align-items: center;
}
.header__nav a:not(:last-child){
    margin-right: 25px;
}
.nav-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#left-side,
#right-side{
    width: 50%;
    position: absolute;
    height: 300vh;
    transition: all 0.3s cubic-bezier(1, 0.66, 0.33, 0);
}
#right-side.minimaized,
#left-side.minimaized{
    width: 9%;
}
#right-side.maximaized,
#left-side.maximaized{
    width: 91%;
}
#left-side{
    background-color:#FFB400;
    left: 0;
    display: flex;
    justify-content: space-between;
}
#right-side{
    background-color:#116D00;
    right: 0;
}
.left-side__selector,
.right-side__selector{
    min-height: 100%;
    min-width: 110px;
}
.left-side__container{
    width: 100%;
    padding-top: 150px;
    position: relative;

}
.left-side__item{
    display: flex;
}
.left-side__item-info{
    margin-right: 10px;
    min-width: fit-content;
}
.item-title-box{
    z-index: 100;
}

.item-title-box__category{
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
.item-title-box__name{
    font-size: 90px;
    font-weight: 700;
    line-height: 90px;
}
.item-title-box__subname{
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
}

.item-info{
    margin-top: 90px;
    display: flex;
    transition: all 0.3s cubic-bezier(1, 0.66, 0.33, 0);
    opacity: 1;
}
.info-composition,
.info-properties,
.info-composition-select{
    margin-bottom: 18px;
}
.item-info__inner{
    margin-right: 53px;
}
.item-info__row:not(:last-child){
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.item-info__row{
    display: flex;
    justify-content: space-between;
    width: 149px;
}
.item-info__storage p:not(:last-child){
    margin-bottom: 16px;
}
.item-info__storage-time,
.item-info__storage-temp,
.item-info__storage-humidity{
    position: relative;
    padding-left: 30px;
}
.item-info__storage-time::before,
.item-info__storage-temp::before,
.item-info__storage-humidity::before{
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    content: '';
    background-repeat: no-repeat;
    background-position-x: center;
}
.item-info__storage-time::before{
    background-image: url(../img/icons/calendar-white.svg);
}
.item-info__storage-temp::before{
    background-image: url(../img/icons/thermometer-white.svg);
}
.item-info__storage-humidity::before{
    background-image: url(../img/icons/umbrella-white.svg);
}
.info-composition-select,
.info-properties-select{
    position: relative;
    padding-right: 30px;
}
.info-composition-select::after,
.info-properties-select::after{
    position: absolute;
    margin-left: 5px;
    content: '>';
}
.item-img-box{
    width: calc(50vw - 110px - 65px);
    position: absolute;
    top: 340px;
    transition: all 0.3s cubic-bezier(1, 0.66, 0.33, 0);
}
.item-img-box.animated{
    width: calc(91vw - 310px - 110px - 65px);
    transform: translate(330px, -190px);
}
.item-img-box img{
    display: block;
    max-width: 100%;
}
.left-side__item-calculator{
    position: absolute;
    top: 350px;
    width: 100%;
    display: flex;
    position: relative;
    transition: all 0.3s cubic-bezier(1, 0.66, 0.33, 0);
}
.item-calculator__left-box{
    display: flex;
}
.item-calculator__select-weight{
    position: relative;
}
.item-calculator__select-weight input{
    border: 2px solid #FFF;
    border-radius: 15px;
    background: transparent;
    color: #FFF;
    padding: 5px 40px 5px 10px;
    font-size: 18px;
    line-height: 18px;
}
.item-calculator__select-weight::after{
    position: absolute;
    top: 14px;
    right: 14px;
    width: 10px;
    height: 10px;
    content: "";
    background-image: url(../img/icons/dropdown-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.item-calculator__energy{
    margin-left: 30px;
    padding-left: 20px;
    position: relative;
}
.item-calculator__energy::before{
    position: absolute;
    left: -11px;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url(../img/icons/fire-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.item-calculator__energy::after{
    position: absolute;
    right: -20px;
    width: 10px;
    height: 10px;
    content: "=";
}
.item-calculator__running{
    margin-left: 40px;
    padding-left: 20px;
    position: relative;
}
.item-calculator__running::before{
    position: absolute;
    left: -11px;
    width: 22px;
    height: 22px;
    content: "";
    background-image: url(../img/icons/running-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.item-calculator__cost{
    position: absolute;
    display: flex;
    align-items: center;
    min-height: 35px;
    min-width: 163px;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 0px 0px 6px #00000066;
    color: #000;
    font-weight: 700;
    line-height: 35px;
    position: relative;

}
.item-calculator__cost::after{
    position: absolute;
    right: 34px;
    width: 50px;
    height: 7px;
    background-repeat: no-repeat;
    content: "";
    background-image: url(../img/icons/arrow-long-right-black.svg);
}
.item-calculator__cost span{
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
}
.item-calculator__cost span::after{
    position: absolute;
    top: 12px;
    right: -16px;
    width: 11px;
    height: 11px;
    content: "";
    background-image: url(../img/icons/ruble-currency-sign.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.input-basket{
    background: none;
    background-image: url(../img/icons/basket-black.svg);
    height: 15px;
    width: 15px;
    margin-left: 75px;
    border: none;
    box-shadow: none;
    background-repeat: no-repeat;
    background-size: contain;
}
.item-calculator__avatars{
    display: none;
    align-items: baseline;
    min-height: 30px;
    min-width: 100px;
    margin-left: 15px;
}
.item-calculator__avatars span{
    align-self: center;
}
.item-calculator__avatars-box{
    margin-left: 160px;
    display: flex;
    list-style: none;
}
.item-calculator__avatars-box li:last-child{
    margin-right: 5px; 
}
.item-calculator__avatars-box li img{
    border-radius: 50%;
    max-height: 30px;
    display: block;
    margin-left: -10px;    
}
.link-like,
.link-links{
    margin-top: 9px;
    height: 18px;
    width: 18px;
    margin-left: 10px;
    align-self: center;
}






#leftBtn, 
#rightBtn{
    position: fixed;
    padding: 0;
    min-width: 5vw;
    height: 100vh;
    border: none;
    box-shadow: none;
    background-size: 13px;
    background-position-y: center;
    background-repeat: no-repeat; 
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s cubic-bezier(1, 0.66, 0.33, 0);
}
#leftBtn:focus,
#rightBtn:focus,
#leftBtn:active,
#rightBtn:active{
    outline: none;
}
#leftBtn{
    right: 50vw;
    background-color: #FFB400;
    background-image: url(../img/icons/arrow-left-white.svg);
    background-position-x: left;
    
} 
#rightBtn{
    left: 50vw;
    background-color:#116D00;
    background-image: url(../img/icons/arrow-right-white.svg);
    background-position-x: right;
}
#leftBtn.go-right{
    right: 9vw;
}
#leftBtn.go-left{
    right: 91vw;
}
#rightBtn.go-right{
    left: 91vw;
}
#rightBtn.go-left{
    left: 9vw;
}
.hidden{
    display: none;
}
.visibleHidden{
    opacity: 0;
}
.flex-column{
    flex-direction: column;
}